<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>EcoBasaarX | Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Nunito Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h2>EcoBasaarX</h2>
        <ul>
            <li id="overviewBtn" onclick="loadOverview()">Overview</li>
            <li id="verifySellerBtn" onclick="loadVerifySeller()">Verify Sellers</li>
            <li id="usersBtn" onclick="loadUsers()">Users</li>
        </ul>
    </div>

    <!-- MAIN -->
    <div class="main">

        <div class="admin-topbar">
            <div class="topbar-left">
                <h2 id="topbarTitle">Admin Dashboard</h2>
            </div>

            <div class="topbar-right">
                <input type="text" placeholder="Search..." class="top-search" />
                <div class="admin-profile">
                    <img src="/assets/products/profile.png">
                    <span>Admin</span>
                </div>
                <button class="logout-btn" onclick="logout()">Logout</button>
            </div>
        </div>

        <div class="card" id="contentArea"></div>
    </div>

    <script src="/js/admin.js"></script>

</body>

</html>